[2020-03-17 14:53] ityuhui opened #1 "What's the appropriate name for this c client library"
Hi @brendandburns

Now the development for c client library can start, first of all, could you please give a name for the c client library ?

I nominate some candidates:

- libkubernetes.so/libkubernetes.dll
- libk8s.so/libk8s.dll
- libkubernetes-client.so/libkubernetes-client.dll
- libk8sclient.so/libk8sclient.dll

[2020-03-17 15:45] brendandburns commented on #1
I think I like libkubernetes.so/dll

--brendan

________________________________
From: Hui Yu <notifications@github.com>
Sent: Tuesday, March 17, 2020 7:53:34 AM
To: kubernetes-client/c <c@noreply.github.com>
Cc: Brendan Burns <bburns@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [kubernetes-client/c] What's the appropriate name for this c client library (#1)

Hi @brendandburns<htt

[2020-03-17 21:11] palnabarun commented on #1
+1 for linkubernetes.{so, dll}

[2020-03-18 09:39] ityuhui commented on #1
Thank you @brendandburns @palnabarun for the comments. I will use libkubernetes as the name.

[2020-03-19 02:44] #1 closed

[2020-03-21 06:11] ityuhui opened #4 "[WIP][Feature]Configuraion support for kubernetes-client/c"
Hi @brendandburns

In order to meet the requirement of client [bronze](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md#client-capabilities) requirements , I begin to implement the configuration utility now.

My design is adding a directory "config" under the directory kubernetes

[code]
and some source files
[code]

[2020-03-23 04:24] brendandburns commented on #4
We should definitely also support `exec`
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration

and probably clouds (GCP, Azure, AWS) auth.

Ideally we can make it pluggable so that people can dynamically register new authentication methods.

[2020-03-23 13:13] ityuhui commented on #4
Hi @brendandburns

Do you mean we support ```exec``` and make GCP, Azure, AWS client auth as executable,
[code]
pass the client auth executable location and parameters to kube_exec_config

e.g.
In kubernetes/config/kube_config.c

[code]

In user's source
[code]

And I also have another idea that implements the plugin as a library

[code]
In plugin
[code]

In kubernetes/config/kube_config.c
[code]

[2020-03-24 13:10] ityuhui commented on #4
I plan

1. Support GCP, Azure, AWS by {so|dll} plugin library

2. Support ```exec``` following https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration

3. Customers use plugin library to add/register their auth method. such as LDAP, etc ...

[2020-03-25 13:00] ityuhui commented on #4
Because [openapi-generator](https://github.com/OpenAPITools/openapi-generator)/[c](https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/C-libcurl) does not support SSL client authentication now. I will go to work on supporting SSL client authentication in openapi-c-generator project first.

[2020-03-26 14:07] ityuhui commented on #4
The PR https://github.com/OpenAPITools/openapi-generator/pull/5719 implements SSL client authentication.

[2020-04-03 01:14] jiria opened #8 "Instructions to running openapi generator"
Hello,

Can you please provide instructions/script on rerunning the openapi generator? Specifically, trying to target some CRDs with the C client.

[2020-04-03 02:26] ityuhui commented on #8
Hi @jiria

There are 2 methods to re-run the openapi generator.

1.  The official method:
use the script in https://github.com/kubernetes-client/gen
with the configuration https://github.com/kubernetes-client/c/blob/master/settings

2. After you get the kubernets API specification "swagger.json" by the method #1
you can re-run openapi-generator by this command in openapi-generator directory.

[cod

[2020-04-03 02:55] ityuhui commented on #8
Hi @brendandburns

Do we support add user's CRD openapi/swagger spec to the swagger.json? by manual or by kubernetes-client/gen ?

Or users only can create/query/update/delete CustomResourceDefinition in kuberntes-client/c
but they need handle their own CRD model/api by their application ?

[2020-04-03 03:20] ityuhui commented on #8
Hi @jiria

These 2 files maybe useful for you to try.

https://github.com/kubernetes-client/c/blob/master/kubernetes/api/CustomObjectsAPI.h
https://github.com/kubernetes-client/c/blob/master/kubernetes/api/CustomObjectsAPI.c

[2020-04-04 06:23] ityuhui commented on #4
SSL client authentication is implemented by https://github.com/kubernetes-client/c/pull/7

[2020-04-08 02:31] ityuhui commented on #4
X509 client certificate in kube config file is supported by the PR https://github.com/kubernetes-client/c/pull/9

[2020-04-16 02:29] ityuhui commented on #4
Configuration of service token and CA in cluster is supported by the PR https://github.com/kubernetes-client/c/pull/10

[2020-05-24 11:35] ityuhui opened #13 "[BUG][Valgrind memcheck] Memory leak in example/list_pod"
## Command:
[code]

## Result:

==8104== 5,965 (32 direct, 5,933 indirect) bytes in 1 blocks are definitely lost in loss record 83 of 83
==8104==    at 0x4C2FB0F: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==8104==    by 0x4EF3FB0: v1_pod_list_create (v1_pod_list.c:14)
==8104==    by 0x4EF43FF: v1_pod_list_parseFromJSON (v1_pod_list.c:158)
==8104==    by 0x502C8FB: CoreV1API_l

[2020-05-24 12:09] ityuhui opened #14 "[BUG] libkubernetes frees the memory that is passed in"
v1_volume_mount_create uses the address of "mount_path", "mount_propagation","name","sub_path","sub_path_expr" directly,

[code]

but v1_volume_mount_free will free the memory when cleaning up:

[code]

So it will introduce a coredump when
[code]

[2020-05-24 12:13] ityuhui opened #15 "[BUG][Valgrind memcheck] Memory leak in examples/create_a_pod"
## Command:
[code]

## Result:

==9334== 1,216 (40 direct, 1,176 indirect) bytes in 1 blocks are definitely lost in loss record 27 of 27
==9334==    at 0x4C31B25: calloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==9334==    by 0x108B96: create_a_pod (main.c:12)
==9334==    by 0x108F14: main (main.c:86)

[2020-05-29 07:56] ityuhui commented on #4
exec (https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration) is supported by the PR #12

[2020-06-01 11:56] ityuhui commented on #13
The root cause is ```example/list_pod``` has not released the memory of ```v1_pod_list_t *pod_list```. This is not an issue of libkubernetes.

[2020-06-02 02:11] ityuhui commented on #13
This issue is fixed by the PR #16

[2020-06-02 02:11] #13 closed

[2020-06-04 04:31] ityuhui commented on #14
By now, ```v1_*_create``` is only for internal use (call by ```v1_*_parseFromJSON```), not for the library user.

So, the right usage is:

[code]

This is a not a defect. Just a design.
So close this issue.

[2020-06-04 04:31] #14 closed

[2020-06-05 01:11] ityuhui commented on #15
This issue is fixed by the PR #17

[2020-06-05 01:11] #15 closed

[2020-06-09 05:27] brendandburns commented on #8
There are example instructions here:
https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

For the Java client, we could do something similar for C

[2020-07-15 12:45] clearday4 opened #21 "About watch function"
Is there any examples of watch pod lists?
please add "watch" function example how to set the resourceVersion and register the callback function.
Please give me an available reference. Thanks in advance.

[2020-07-15 13:09] ityuhui commented on #21
Hi @clearday4

Now kubernetes-client/c does not support "watch",  but I have done some invesigation some day before and plan to implement this feature after my current development ( configuration/authentication plugin https://github.com/kubernetes-client/c/issues/4) is done.

My plan is to provide a mechanism to register "watch" callback function to ```writeDataCallback``` (https://github.com/kube

[2020-07-16 07:12] clearday4 commented on #21
thank you for your answer.

[2020-08-12 08:21] clearday4 opened #22 "sslConfig_create didn't return a pointer"
sslConfig_create() is not void function but not return a sslConfig pointer.
Need to add return sslConfig.

[2020-08-12 08:25] clearday4 opened #23 "About metric API"
Do you have a plan to support "apis/metrics.k8s.io/v1beta1" APIs for gathering resources?

[2020-08-13 02:33] ityuhui commented on #22
Hi @clearday4

Thank you for your finding ! You're right, the function should return sslConfig

[code]

I have not found this issue before because the sslConfig is returned to caller actully. Maybe the compiler/gcc handles this defect and returns the sslConfig automatically.  So this defect has no impact on gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04).

But anyway, this defect should be fixed.

[2020-08-14 14:44] ityuhui commented on #23
Hi @clearday4

I think the metrics API support depends on CRD (CustomResourceDefinition) support.  So we will not start to support it before CRD is [supported](https://github.com/kubernetes-client/c/issues/8).

Thank you for your proposal for the feature. I will append here if there is any further progress.

[2020-08-14 15:19] brendandburns commented on #22
I suspect that this is because of x86 conventions and the pointer being stored in the same register as the expected return value:

https://stackoverflow.com/questions/7280877/why-and-how-does-gcc-compile-a-function-with-a-missing-return-statement

but we should definitely fix this.

[2020-08-14 15:21] brendandburns commented on #23
The other option is to implement the generic API similar to what the Java code does here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java

I'll see if I have cycles to add that.

[2020-08-14 15:42] brendandburns commented on #22
I filed:
https://github.com/OpenAPITools/openapi-generator/pull/7217

in the generator to fix this.

[2020-08-14 17:28] brendandburns commented on #23
I've started working on the generic client.

[2020-08-17 15:40] brendandburns commented on #23
The generic client has now merged.

There is an example here:

https://github.com/kubernetes-client/c/blob/master/examples/generic/main.c

You can use
apiGroup: "metrics.k8s.io"
version: "v1beta1",
resourcePlural: "nodes" or "pods"

and the generic client to access metrics.

[2020-08-17 15:42] brendandburns commented on #22
The code generator patch is merged (though there are other issues that were detected)

We should fix the other issues, and then regenerate.

[2020-08-18 05:00] clearday4 commented on #23
Thank you for kind answer
It will be very helpful for us.

[2020-08-18 13:11] clearday4 commented on #21
When do you plan to provide the watch function?

[2020-08-21 02:15] ityuhui commented on #4
auth provider plugin framework and OIDC plugin are implemented by the PR https://github.com/kubernetes-client/c/pull/26

[2020-08-21 02:23] ityuhui commented on #4
Considering most of configuration cases are supported, I will suspend this task from now.

If other authentication method (e.g. AWS, Azure, GCP) is needed,  I can continue by demand. And PR is welcome.

[2020-09-03 01:37] #22 closed

[2020-09-04 12:44] ityuhui commented on #21
I'm working on this feature and will invite you to discuss the design.

[2020-09-07 06:04] ityuhui commented on #8
/remove-lifecycle stale

This defect traces the client for CRD.

[2020-09-10 04:29] jiria commented on #8
Thank you for the pointers. I had to switch to the C# SDK due to existing dependencies, so did not really get too far here. But I hope other folks will find this useful as well. Not closing in case you want to track this further.

[2020-10-03 02:09] ityuhui commented on #21
Hi @clearday4

The ```watch``` function is supported by the PR #28 .
Could you please try and check whether it meets your requirement ?
Refer to the example [watch_list_pod](https://github.com/kubernetes-client/c/tree/master/examples/watch_list_pod) to get the usage please.

[2020-10-03 02:11] ityuhui commented on #8
Thank you @jiria for proposing this requirement. I start to work on this feature from now.

[2020-10-06 04:22] clearday4 commented on #21
Thank you for your support.
It is working well.
However, I plan to call the watch function in api.
So I try to create thread if I call watch function.
At this time, strdup is not working in the thread.
Because _GNU_SOURCE is not applied to all files.
Please consider to add -D_GNU_SOURCE to CMAKE_C_FLAGS in CMakeLists.txt

And I have a question.
When calling watch function, it is blocked by curl_ea

[2020-10-06 06:12] clearday4 opened #30 "Considering IPv6 KUBERNETES_SERVICE_HOST"
If the API Server address is IPv6, need to put [] to SERVICE_HOST_ENV_NAME of the basePath.

[2020-10-06 09:03] ityuhui commented on #21
Hi @clearday4

For this question:

How can I graceful exit if I want to stop the watch?

Does the parameter  ```timeout``` of watch function meet your requirement ?

[code]

[2020-10-06 09:18] ityuhui commented on #21
The current implementation in kubernetes-client/c is adding ```#define _GNU_SOURCE``` to each source files using ```strdup```, e.g. kube_config.c, incluster_config.c because CMakeLists.txt comes from [openapi-generator/c](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache) and I don't want to do lots of chang

[2020-10-06 11:13] clearday4 opened #31 "Different return types of Delete Pod"
When calling CoreV1API_deleteNamespacedPod() if there is an error, returns a pointer of v1_status_t type. but if it succeeds, it returns a pointer of v1_pod_t type.
The return type depends on the success / fail of the function call.
How can we handle this?

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#delete-pod-v1-core
According to the above link, v1_pod_t is returned when

[2020-10-06 11:21] clearday4 commented on #21
Thank you for the answer.
I'll check it.

[2020-10-06 14:49] brendandburns commented on #31
This code is generated, so unfortunately we really can't do this.

This is basically a fundamental disconnect between the implementation of the Kubernetes API (which as you note, can return multiple different types) and the Swagger/OpenAPI document for the API (which only describes one type)

There's a much larger discussion of the issue here:
https://github.com/kubernetes-client/java/issues/86

[2020-10-07 03:53] clearday4 commented on #31
In the current situation, if CoreV1API_deleteNamespacedPod() succeeds, app got a segfault.
Shouldn't we modify this part?

[2020-10-07 04:06] ityuhui commented on #31
Hi @clearday4

Which case will trigger a segfault by ```CoreV1API_deleteNamespacedPod``` ?

Case 1: Deleting succeeded ( e.g. The pod that will be deleted is valid) Or
Case 2: Deleting failed ( e.g. The pod that will be deleted does not exist)

[2020-10-07 05:11] clearday4 commented on #31
Hi
Case 1 trigger a segfault.
Because Jason returned a v1_pod_t structure type but library tries to parse v1_status_t structure type.
 v1_status_t *elementToReturn = v1_status_parseFromJSON(CoreV1APIlocalVarJSON);

[2020-10-07 05:53] ityuhui commented on #31
When deleting pod succeeds,  ```CoreV1API_deleteNamespacedPod``` will not raise a segment fault itself, but because ```CoreV1APIlocalVarJSON``` is not a valid ```v1_status_t``` json string,  ```elementToReturn``` will be NULL.  Using ```elementToReturn``` without checking will trigger a segment.

So, this segfault can be avoided by below gurad:

[code]

As @brendandburns said, the parsing is gener

[2020-10-07 06:58] clearday4 commented on #31
Thank you for the opinion
we will change the code you suggested.

[2020-10-12 16:01] brendandburns commented on #31
You can also use the generic delete:
https://github.com/kubernetes-client/c/blob/master/kubernetes/src/generic.c#L118

Which will return the raw JSON.

[2020-10-21 13:28] ityuhui commented on #8
The best method to support CRD is [generic client](https://github.com/kubernetes-client/c/blob/master/examples/generic/main.c) now.

[2020-10-21 13:51] andre2007 opened #33 "fatal error: yaml.h: No such file or directory"
I try to build this library using this dockerfile

[code]

An error is thrown:

Step 4/4 : RUN cd /tmp     && git clone https://github.com/kubernetes-client/c.git     && cd c/kubernetes     && mkdir build && cd build     && cmake ..     && make && make install
 ---> Running in 05849b54c95c
Cloning into 'c'...
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7

[2020-10-21 13:56] andre2007 commented on #33
Actually, issue can be solved by installing `libyaml-dev`

[2020-10-21 13:56] #33 closed

[2020-10-22 05:14] clearday4 opened #34 "Considering multi-thread environment"
curl_global_cleanup() and curl_global_init() can crash the CURL handle of other threads when making a API request from multi-thread respectively.
In the multi-thread environment, you need to do curl_easy_cleanup() instead of curl_global_cleanup(), and curl_global_init() also should be done only the first time.
curl_easy_init() will also execute if curl_global_init() was not done, so curl_global_in

[2020-10-22 05:34] #23 closed

[2020-10-22 05:34] clearday4 commented on #23
closed

[2020-10-22 05:34] #31 closed

[2020-10-22 05:34] clearday4 commented on #31
closed

[2020-10-22 08:24] ityuhui commented on #34
Thank you for your catching and suggestion. I will take a look.

[2020-10-23 05:57] ityuhui commented on #34
I think libcurl does not suggest using ```curl_easy_init``` to call ```curl_global_init```

In https://curl.haxx.se/libcurl/c/curl_easy_init.html

[2020-10-23 06:14] ityuhui commented on #34
In https://curl.haxx.se/libcurl/c/libcurl.html

libcurl requires ```curl_global_init``` and ```curl_global_cleanup``` must be called when no other thread in the program is running.  (even though the thread does not use libcurl)

In kubernetes-client/c

```curl_global_init``` is called by ```apiClient_create_with_base_path```
```curl_global_cleanup``` is called by ```apiClient_free```
```curl_easy_

[2020-10-23 15:25] brendandburns commented on #34
Perhaps we should add a static boolean check so that those functions only get called once?

[2020-10-24 07:02] ityuhui commented on #34
Hi @brendandburns

The 2 functions ```apiClient_create_with_base_path```(call```curl_global_init```)  and ```apiClient_free```(call```curl_global_cleanu```) should not get called when there are more than 2 threads in the program. This cannot be guarded by a static boolean check.

```apiClient_invoke/curl_easy_init/curl_easy_cleanup``` executes without such restriction.

User can create ( and delet

[2020-10-26 01:37] clearday4 commented on #34
Yes. but anyway, libcurl does a boolean check if curl_global_init was done or not.

   200 static CURLcode global_init(long flags, bool memoryfuncs)
   201 {
   202   if(initialized++)
   203     return CURLE_OK;

   343 struct Curl_easy *curl_easy_init(void)
   344 {
   345   CURLcode result;
   346   struct Curl_easy *data;
   347
   348   /* Make sure we inited the global SSL stuff */
   349

[2020-10-26 01:53] clearday4 commented on #34
In my opinion, the apiClient should be created for each API Request. And also, if users are using the watch function, curl crash will occur even if user calls apiClient in the main thread.

so I think curl_global_init need a boolean check and need to put CURL *handle in apiClient so that apiClient_free can call curl_easy_cleanup.

[2020-10-26 02:35] clearday4 commented on #34
I think curl_global_init () does a boolean check on its own. so this part seems to be okay.
The problem is that curl crash is definitely happening in multi-thread when calling curl_global_cleanup.
Therefore, in my opinion, you should put CURL * handle in apiClient so that apiClient_free can call curl_easy_cleanup.
and create another shutdown function then call curl_global_cleanup.

[2020-10-26 03:05] ityuhui commented on #34
Does the below workflow not meet your requirement ?

Step 1:  When program starts up, calls ```apiClient_create_with_base_path``` to create an apiClient_t *client
Step 2:  Create one or more worker threads, pass the apiClient_t *client to them for ```apiClient_invoke``` to use, if you have more than 2 worker threads, you may need a lock/mutex to control the access of apiClient_t *client
Step 3:  A

[2020-10-26 05:14] clearday4 commented on #34
I understood that your suggestion is to share the apiClient structure in multiple API Requests.
However, considering the watch function, it seems better to allocate the apiClient structure to each API Request respectively.
(Considering the case that some applications watch the service and pod respectively and at the same time query the hpa)
Which is better, sharing the apiClient between threads or

[2020-10-26 06:06] ityuhui commented on #34
Your consideration is right.

The only one apiClient/CURL handler cannot support a thread ```watch``` and the other thread operates k8s resource at the same time because the apiClient may be locked.

but ```curl_easy_cleanup``` is not needed to call by ```apiClient_free```, because it is called by ```apiClient_invoke```

I suggest adding 2 functions:
[code]

and remove ```curl_global_init(CURL_GLO

[2020-10-26 06:37] clearday4 commented on #34
Yes, it exactly meets my requirements.
Thank you for your investigation.

[2020-11-01 20:12] #34 closed

[2020-11-02 12:05] clearday4 opened #38 "How to stop watching?"
Hi,
What should I do if I want to stop watching?
If I set to CURLOPT_TIMEOUT_MS, applications will receive the entire object state once again whenever they call watch after timeout.
This is not WATCH but the same as calling GET repeatedly.
If I kill the watch thread with pthread_cancel(), we will have the problem of leaking resources.
We leak curl handle, curl mime, apiClient, cJSON_Parse in wu_co

[2020-11-02 12:41] ityuhui commented on #38
I think the best way is setting a timetout in the parameter of watch function, after timeouts, free up the resource same with non-watch example.

e.g.
[code]

[2020-11-02 12:47] clearday4 commented on #38
Application want to watch the events util they stop watching.
They want to receive the state of the only changed object.
But if we set the timeout, application should watch again and get the entire status of object again.
what is the difference from get function?

[2020-11-02 13:28] ityuhui commented on #38
When ```timeout``` is set, watch function will not return even though it receives the state change.

The watch function returns only the timeout is reached.

[2020-11-03 01:15] clearday4 commented on #38
It doesn't meet our requirement.
application wants to know immediately if pod is scaled in or out or deleted or modified.

[2020-11-03 02:36] ityuhui commented on #38
Suppose setting a timeout such as 3600 seconds (1 hour),
Watch function can receive events such as pod deletion/modification immediately but it will not stop watching. After 3600 seconds, the watch function will return and stop watching.

[2020-11-03 04:11] clearday4 commented on #38
But After 1 hour,
if application call watch function again, K8s API server send the all pod state again,
Therefore, if application knows the pod status has changed, compared to previous status and the previous information should be stored to db

[2020-11-03 04:34] ityuhui commented on #38
I think you can set a longer timeout.
Or run watch function forever in a thread. After the program ends, allocated memory will be released.

And I see you have tried ```pthread_cancel()```, then when will you call ```pthread_cancel()``` ?

[2020-11-03 06:52] clearday4 commented on #38
If I kill the watch thread with pthread_cancel, resource leak occurs.
Since watch thread is blocked on curl_easy_perform, curl handle, curl mime, apiClient and cJSON_Parse are leak

[2020-11-03 06:54] ityuhui commented on #38
Could you please run watch function forever in a thread ?
After the program ends, allocated memory will be released.

[2020-11-03 07:31] clearday4 commented on #38
right. so application can't stop watching until now.

[2020-11-05 18:37] brendandburns commented on #38
Can't you use `pthread_cleanup_push` to register a cleanup handler for the watch `pthread`?

https://man7.org/linux/man-pages/man3/pthread_cleanup_push.3.html

[2020-11-19 07:28] ityuhui commented on #4
/remove-lifecycle stale

Use this ticket to trace the current status of configuration support.

[2020-11-30 17:34] brendandburns commented on #38
I'm closing this since I think that the issue issue is resolved via the Libcurl progress functions.

[2020-11-30 17:34] #38 closed

[2020-11-30 17:35] brendandburns commented on #38
Please use `/reopen` if there is further assistance needed.

[2020-12-11 03:32] ityuhui commented on #21
Close the issue because ```watch``` function is supported well.

Please refer the examples [watch_list_pod](https://github.com/kubernetes-client/c/tree/master/examples/watch_list_pod) and [multi_thread](https://github.com/kubernetes-client/c/tree/master/examples/multi_thread)

[2020-12-11 03:32] #21 closed

[2020-12-16 07:17] NickPak opened #43 "In C++, there are many keyword conflicts with variable names."
In C++, there are many keyword conflicts with variable names. I‘m going to commit a PR for this, which will make the following changes:
`namespace` => `name_space`
`template` => `template_`
`operator` => `operator_`
`export` => `export_`
Does it follow your code style?

[2020-12-16 07:28] ityuhui commented on #43
Hi @NickPak

Thank you for your working in C++ !
The code is generated by openapi-generator/c-libcurl https://github.com/OpenAPITools/openapi-generator, so your change will be overwritten by next re-generating.

I think it's better to add these keywords into ```setReservedWordsLowerCase``` in https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/

[2020-12-16 07:38] NickPak commented on #43
@ityuhui Thanks!

[2020-12-16 07:43] ityuhui commented on #43
Please try to commit your PR into openapi-generator, after your PR is merged, I can help you to re-generate the c client code here. And then it will work with C++.

Any question, feel free to append here.

[2020-12-16 09:00] NickPak commented on #43
Hi @ityuhui
I have committed it. Thanks very much!

[2021-01-06 02:40] ityuhui commented on #43
Hi @NickPak

I have merged your change https://github.com/OpenAPITools/openapi-generator/pull/8205 and re-generate the client code by this PR https://github.com/kubernetes-client/c/pull/45.
So I think the C client can be compiled by C++ compiler now, could you please fetch the latest code to try ? Thanks.

[2021-01-07 07:01] NickPak commented on #43
Hi @ityuhui
It works fine for me! Thanks very much!

[2021-01-07 07:01] #43 closed

[2021-01-09 08:01] ityuhui commented on #43
Thank you for your contribution for C++ support !

[2021-01-10 03:18] ityuhui opened #46 "[CI/CD] The examples shoud be tested in Github/Actions using kind or minikube"
Like other clients e.g.
kind at [Java client](https://github.com/kubernetes-client/java/blob/master/.github/workflows/maven.yml)
minikube at [csharp client](https://github.com/kubernetes-client/csharp/blob/master/.github/workflows/buildtest.yaml)

[2021-01-27 05:45] ityuhui commented on #46
This ticket is implemented by the PR #48

[2021-01-27 05:45] #46 closed

[2021-02-09 08:44] minerba opened #49 "How can I Use 'AutoscalingV1API_patchNamespacedHorizontalPodAutoscalerStatus' ?"
Hi. I m trying to make hpa Update api.

I have confirmed that Below CURL message is working fine.

curl -k  -g \
    -X PATCH \
    -d @- \
    -H "Authorization: Bearer $TOKEN" \
    -H 'Accept: application/json' \
    -H 'Content-Type: application/strategic-merge-patch+json'  \
    https://[${MY_SERVICE_HOST}]:${MY_SERVICE_PORT}/apis/autoscaling/v1/namespaces/default/horizontalpodautoscalers/acp

[2021-02-09 09:46] ityuhui commented on #49
Hi @minerba

For now, ``object_t`` is not supported by ``apiClient_invoke``.

You can use  [generic client](https://github.com/kubernetes-client/c/blob/master/examples/generic/main.c) to operate the resources (e.g. horizontalpodautoscalers) directly now.

[2021-02-10 00:48] minerba commented on #49
Thank U @ityuhui
I understood your answer.

But I Can't understand to "AutoscalingV1API_patchNamespacedHorizontalPodAutoscalerStatus" function  makes inapposite Content-type.

e.g)  Content-type: application/json  returns 400 Error.    But Content-type: application/strategic-merge-patch+json return 200 Success.

Let me know if you know solution about this problem.

[2021-02-10 00:54] minerba commented on #49
Thank U

[2021-02-10 00:54] #49 closed

[2021-02-10 04:59] minerba opened #50 "How can I solve this Error...?"
Hi, @ityuhui
As you said I tried to update hpa using generic client.

But generic Make Path function  does not include Header par.

How about add Header Parameters in generic Make Path function?

[2021-02-10 15:02] ityuhui commented on #50
The generic client does not have a build-in function to add the header parameters.

For now, you need add them by yourself, please refer to the code in apiClient.c
[code]

Thank you for reporting this problem, I will implement this function to add header parameter to generic function sometimes later.

And welcome you to implement this feature too !

[2021-02-16 01:54] #50 closed

[2021-02-17 08:59] minerba opened #51 "PATCH function needs to be added"
When using only the PUT function, all Json properties must be written.

genericClient has PUT/GET/POST function but there is no function to PATCH in the genericClient function.

[2021-02-17 11:48] ityuhui commented on #51
Hi @minerba

Are these functions what your want ?

[code]

[2021-02-18 01:45] minerba commented on #51
yes, I want.....

[2021-02-18 07:09] #51 closed

[2021-02-18 08:52] ityuhui commented on #51
I will deliver it soon.

[2021-02-20 02:50] ityuhui commented on #51
These functions are committed by https://github.com/kubernetes-client/c/pull/52

Please refer to the [example](https://github.com/kubernetes-client/c/blob/master/examples/generic/main.c) to get the usage. e.g. ``Generic_patchResource``

[2021-03-11 06:14] ityuhui commented on #8
/close

[2021-03-11 06:14] #8 closed

[2021-03-19 09:45] clearday4 opened #54 "double free occurs while calling api in the multi-thread"
There is a problem that double free crashes while calling CoreV1API_listNamespacedPod() continuously in the Multi-thread.
The direct cause is that the duplicated detection of v1_pod_free()'s address, it seems that cJSON is basically thread unsafe.

https://github.com/DaveGamble/cJSON/issues/221
https://github.com/DaveGamble/cJSON/issues/314

Looking at the above link, If you don't specify return_p

[2021-03-20 11:40] ityuhui commented on #54
Hi @clearday4

What's the step to reproduce this issue ?
I think: In a multi-thread program, one thread keeps calling CoreV1API_listNamespacedPod (how often ?), what does the other thread do ?

[2021-03-22 02:50] clearday4 commented on #54
2 thread call CoreV1API_listNamespacedPod() simultaneously at 10ms intervals.

[2021-03-22 11:50] clearday4 commented on #54
ASAN:SIGSEGV
=================================================================
==2112917== ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7ffff1875999 sp 0x7fffe9c39950 bp 0x6006018ac690 T63)
[210319|10:41:05.077]The return code of HTTP request=200
AddressSanitizer can not provide additional info.
    #0 0x7ffff1875998 (/usr/lib64/libkubernetes.so+0x99998)
    #1 0x7ffff18ba

[2021-03-23 07:37] clearday4 commented on #54
I think you need to change
cJSON_Parse(event_string)
=========>
 const char  *parse_end = NULL;
 cJSON_ParseWithOpts(event_string, &parse_end, 0);

and print out parse_end instead of  cJSON_GetErrorPtr()

[2021-03-26 03:03] ityuhui commented on #54
Where is the code ? In the example ?

[2021-03-26 09:21] minerba opened #55 "How can I curl exec Pod?"
I m trying to this command

=================================================================
curl -k     -H "Authorization: Bearer $TOKEN"     -H 'Accept: application/json'     https://10.96.0.1:80/api/v1/namespaces/default/pods/My-Pod/exec

=================================================================

But I receive below Json Message
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata":

[2021-03-27 03:35] ityuhui commented on #55
So far, the C client does not support websocket releated features e.g. exec, attach, and port-forward.

[2021-03-29 04:25] brendandburns commented on #55
Also, you're using the `curl` command, not this client library. If you are using the command line, you should just use `kubectl`

[2021-03-29 04:25] #55 closed

[2021-03-29 04:26] brendandburns commented on #54
@ityuhui It's in a bunch of the generated client library code, eg.

https://github.com/kubernetes-client/c/blob/97c945b5cc2659fc88090603faa23a533c518282/kubernetes/api/ExtensionsAPI.c#L54

I think we need to change the code generator.

[2021-03-29 05:14] minerba commented on #55
@ityuhui
Do you have any plans to provide exec Pod api in the future?

(CoreV1API_connectGetNamespacedPodPortforward(apiClient_t *apiClient, char * name , char * _namespace , int ports ))

[2021-03-29 07:10] minerba opened #56 "So far, the C client does not support websocket releated features e.g. exec, attach, and port-forward."
So far, the C client does not support websocket releated features e.g. exec, attach, and port-forward.

_Originally posted by @ityuhui in https://github.com/kubernetes-client/c/issues/55#issuecomment-808639654_

@ityuhui
Do you have any plans to provide exec Pod api in the future?

(CoreV1API_connectGetNamespacedPodPortforward(apiClient_t *apiClient, char * name , char * _namespace , int ports ))

[2021-03-29 11:31] ityuhui commented on #54
Hi @brendandburns

Described in cJSON official [readme](https://github.com/DaveGamble/cJSON#thread-safety),

We don't need replace `cJSON_Parse` in generated code because the generated code does not call `cJSON_GetErrorPtr`

But the examples and config/authentication plugin code use the function `cJSON_GetErrorPtr`, they are not thread safe. e.g.

https://github.com/kubernetes-client/c/blob/master

[2021-03-29 11:45] ityuhui commented on #54
But the core dump described by this issue is not releated to the C client library itself.

Users of the C client library, if they use cJSON directly in their code, should follow the requirements in cJSON official readme https://github.com/DaveGamble/cJSON#thread-safety to keep the thread safe in multi-threaded program.

[2021-03-30 02:35] HaunHsiung opened #57 "how to config a created pod to a Node? Can you help me to check code?"
list_t *nSelector = list_create();
    char *node = strdup("ssd"); // IP address
    list_addElement(nSelector, node);
    // v1_node_selector_t *nodeselector = calloc(1, sizeof(v1_node_selector_t));
    // nodeselector->node_selector_terms = nSelector;

    v1_node_selector_t *nodeselector = v1_node_selector_create(nSelector);
    list_t *nodeSelectorCreator = list_create();
    list_addElement(n

[2021-03-30 06:47] ityuhui commented on #57
Please see below source code and swagger doc to have a try.

https://github.com/kubernetes-client/c/blob/master/kubernetes/model/v1_node_selector.h
[code]

https://github.com/kubernetes-client/c/blob/master/kubernetes/model/v1_node_selector_term.h
[code]

https://github.com/kubernetes-client/c/blob/master/kubernetes/model/v1_node_selector_requirement.h

https://github.com/kubernetes-client/c/blob/

[2021-03-30 06:55] ityuhui commented on #56
I'm interested but not sure when to implement.
First of all I need find a websocket library because libcurl does not support websocket now...

[2021-03-31 01:23] #56 closed

[2021-04-01 15:57] brendandburns commented on #54
@ityuhui thanks for the explanation (and sorry I didn't read into the details of our cJSON usage).

I merged #58 so closing this issue.

[2021-04-01 15:57] #54 closed

[2021-04-02 01:32] ityuhui commented on #54
Thank you @brendandburns

[2021-04-02 01:33] ityuhui commented on #54
And thank you @clearday4 for the finding and suggestion.

[2021-04-03 04:30] brendandburns commented on #57
I think this question is answered. Shall we close the issue?

[2021-04-05 12:51] minerba opened #59 "free Error()"
@ityuhui

Hello,

I'm trying to Use pod_list_free(), But I have Error Message " free() : Invalid size "

so I trace function stack like below

[code]

I don't know what the intent of this free()

**free**
void v1_pod_security_context_free(v1_pod_security_context_t *v1_pod_security_context)

=>     if (v1_pod_security_context->supplemental_groups) {
               list_ForEach(listEntry, v1_pod_sec

[2021-04-05 19:45] brendandburns commented on #59
Can you provide the code in your main.c?

Thanks!

[2021-04-06 02:30] minerba commented on #59
`#include <malloc.h>
#include <stdio.h>
#include <errno.h>
#include <string.h>
#include <stdint.h>
#include "v1_pod_list.h"
#include "apiClient.h"

int main(){
    apiClient_t *apiClient = NULL;
    sslConfig_t *sslConfig = NULL;
    list_t    *apiKeys = NULL;
    char      *basePath = NULL;
    int        Ret    = 0;

    Ret = load_incluster_config(&basePath, &sslConfig, &apiKeys);
    if(Ret !=

[2021-04-06 04:18] brendandburns commented on #59
Very odd. That's all in the generated code. Can you send the JSON for the object(s) that you receive. e.g. `kubectl get pods -o json --namespace csdb-amf`

That may help us reproduce the issue.

[2021-04-06 08:02] minerba commented on #59
{
"kind": "List",
    "metadata": {
        "resourceVersion": "",
        "selfLink": ""
    }
}

[2021-04-06 09:11] HaunHsiung commented on #57
I have solved this problem by using affinity character, it seems unable to simply use node selector in this API.

[2021-04-07 01:33] minerba commented on #59
Sorry I can't serve my json File....

[2021-04-07 02:49] ityuhui commented on #57
It's very good to meet your requirement using `affinity`.
But I still think node selector is OK in this API (just a bit complicated, need prepare `matchExpressions` or `match_fields `key-value list)

[2021-04-07 16:11] brendandburns commented on #59
Ok, I will try to reproduce this locally.

[2021-04-11 02:43] brendandburns commented on #57
Closing the issue since it is resolved.

[2021-04-11 02:43] #57 closed

[2021-04-25 09:17] HaunHsiung opened #60 "how to create a configmap with using map(keyvaluepairs)?"
[code]

the example given above is my case but return with code 422, seems it is illegal to describe configmap.
please help me, thanks a lot! @idvoretskyi @tg123 @webwurst @justaugustus @lavalamp

[2021-04-25 09:35] tg123 commented on #60
tcpdump to track http request would help

[2021-04-27 04:11] brendandburns commented on #60
You need to print the response body and it should have more info.

I think you can:
[code]

[2021-05-04 03:32] clearday4 commented on #59
217     // v1_pod_security_context->supplemental_groups
218     cJSON *supplemental_groups = cJSON_GetObjectItemCaseSensitive(v1_pod_security_contextJSON, "supplementalGroups");
219     list_t *supplemental_groupsList;
220     if (supplemental_groups) {
221     cJSON *supplemental_groups_local;
222     if(!cJSON_IsArray(supplemental_groups)) {
223         goto end;//primitive container
224     }
2

[2021-05-04 08:06] clearday4 commented on #59
There are some cases like the above in kubernetes/model directory.
call list_addElement() with local pointer value, and the local pointer doesn't allocate the memory. it is a garbage address.
======================
./v1beta1_certificate_signing_request_spec.c:174:        list_addElement(extraList , localMapKeyPair);
./v1_subject_access_review_spec.c:174:        list_addElement(extraList , localMap

[2021-05-04 08:29] ityuhui commented on #59
Any code releated to `object_t` cannot work now.

The background is : `object` is a data type of OpenAPI specification , but the C programming language does not support OO (Object-Oriented) paradigm by itself. So the C client generated by OpenAPI-Generator/C-libcurl does not support `object_t` now. Please avoid using any function involved  `object_t`  ( do the serialization and deserialization by

[2021-05-10 05:12] #30 closed

[2021-05-21 05:29] minerba opened #61 "Need to modify parameters"
I think functions should receive "const char*" rather than "char*".

for example name or _namespace are unlikely to be modified.

[2021-05-21 06:01] ityuhui commented on #61
Could you please give a function for example ?

[2021-05-21 06:29] minerba commented on #61
I have a Compile warning in this function

Because of not const .

v1_pod_t* CoreV1API_readNamespacedPod(apiClient_t *apiClient, char * name , char * _namespace , char * pretty , int exact , int _export )

parameters name, _namespace, pretty are unlikely to be modified.

I suggest that functions that take a parameter "char *" are changed to "const char*"

The same for other functions in Directory

[2021-05-21 06:54] ityuhui commented on #61
Good suggestion! I want to do this before but mark it as low priority.
And welcome PR, the change should be done in the [openapi-generator](https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/C-libcurl) project.

[2021-05-21 07:56] minerba commented on #61
Ok. Thank U I will PR to openapi-generator project.

[2021-05-31 04:37] #4 closed

[2021-06-01 11:22] clearday4 opened #63 "The type of target_port of v1_service_port_t is invalid."
The type of target_port in the v1_service_port_t structure is abnormal.
[code]

I think target_port should be an integer type like port and node_port.
In the v1_service_port.c, target port is parsed from object_parseFromJSON() so it returns null.
object_parseFromJSON() is always return NULL.
when I changed target_port to integer type and got it with cJSON_GetObjectItemCaseSensitive()  as sams as p

[2021-06-01 12:21] clearday4 commented on #59
We suggest changing it as follows.
In v1_pod_security_context.c
list_addElement(supplemental_groupsList , &supplemental_groups_local->valuedouble);
=>
       double *supplemental_groups_local_values = malloc(sizeof(double));
        *supplemental_groups_local_values = supplemental_groups_local->valuedouble;
        list_addElement(supplemental_groupsList , supplemental_groups_local_values);

[2021-06-01 21:02] brendandburns commented on #63
targetPort is an IntOrString type in the swagger (https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json)

We may very well not handle these correctly right now.

[2021-06-01 21:04] brendandburns commented on #63
See:
https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/custom/IntOrString.java
For example.

There are a number of custom types we will need to add:
https://github.com/kubernetes-client/java/tree/master/kubernetes/src/main/java/io/kubernetes/client/custom

[2021-06-02 03:07] clearday4 commented on #63
Thank you @brendandburns
would you add the new custom type "IntOrString" ?

[2021-06-04 00:04] brendandburns commented on #63
Yes, I think that would be fine. We'll need to add custom serialize/deserialize code to handle that.

[2021-06-14 03:10] clearday4 opened #64 "what is the version of library?"
According to the README.md in kubernetes directory
The version is mentioned that
API version: v1.17.4
Package version:
Build package: org.openapitools.codegen.languages.CLibcurlClientCodegen

Is it the right API Version?
And there is no ABI version for library?

[2021-06-15 02:53] ityuhui commented on #64
The code is generated according to the kubernetes API swagger v1.17.4

[2021-06-15 14:22] brendandburns commented on #64
We should regenerate the library for a later version of Kubernetes.

[2021-06-16 02:18] ityuhui commented on #64
Which version is better for now ? I see the latest official release is v1.21.1

[2021-06-17 16:05] brendandburns commented on #64
Ultimately, we should generate a new version for every version of Kubernetes, see for example the Java client:

https://github.com/kubernetes-client/java/wiki/2.-Versioning-and-Compatibility

But for now, let's jump forward to 1.21.1

But we should tag the repo with a '0.1' first so that people can check out the code for usage with older Kubernetes.

[2021-06-18 07:57] ityuhui commented on #64
OK. I will do it.

[2021-06-18 08:04] ityuhui commented on #64
I'm working on the websocket/exec support for c client now (maybe delivered in 1 week). It's better to tag after this feature is merged, then users can exec command in pod with the older Kubernetes.

[2021-06-18 15:40] brendandburns commented on #64
ok, works for me.

We should also think about how we could release .deb/.rpm packages

[2021-06-19 03:43] ityuhui commented on #64
Agree. then we can integrate them into package managers e.g. apt/yum.

[2021-06-22 10:40] clearday4 commented on #64
Thanks @brendandburns @ityuhui
BTW, libkubernestes.so doesn't have an API version?

[2021-06-22 11:44] clearday4 commented on #64
That's a great news!!
What websocket library did you select?

[2021-06-25 14:20] brendandburns commented on #64
@clearday4 Kubernetes maintains a n-2 compatability, so a 1.20 library should work with 1.18. It will _mostly_ work with older versions too, but it is less guaranteed.

We will plan to align the versioning of this library with the Kubernetes version, so hopefully going forward you will be able to select a version that works for your version of kubernetes.

[2021-06-28 12:06] ityuhui commented on #64
It's libwebsockets

[2021-07-07 10:52] minerba opened #66 "Null in v1_secret_t"
I called Function CoreV1API_listNamespacedSecret
but I can't see secret's data Info

There is Some Bug in "v1_secret_parserFromJSON"

// v1_secret->data
    cJSON *data = cJSON_GetObjectItemCaseSensitive(v1_secretJSON, "data");
    list_t *dataList;
    if (data) {
    cJSON *data_local_map;
    if(!cJSON_IsObject(data)) {
        goto end;//primitive map container
    }
    dataList = list_create

[2021-07-12 13:27] ityuhui opened #67 "Integrate valgrind memory check into github/actions"
We'd better integrate valgrind memory check into actions in this repo.

e.g.

[code]

[2021-07-16 14:17] brendandburns commented on #66
@minerba we will investigate this and see where the issue is.

[2021-07-21 14:00] ityuhui commented on #66
I begin to investigate this issue now.

[2021-07-27 06:14] ityuhui commented on #60
/remove-lifecycle stale

I will take a look.

[2021-07-28 04:03] d3v-S opened #69 "running example for exec pod on minikube"
Hello, I am unable to run exec_pod example after setting up minikube.

This is the error:

[2021/07/27 20:55:51:1527] E: callback_wsclient: wsclient connection error: Unable to connect
[2021/07/27 20:55:54:2247] E: callback_wsclient: wsclient connection error: Unable to connect
[2021/07/27 20:55:57:2970] E: callback_wsclient: wsclient connection error: Unable to connect
[2021/07/27 20:56:03:6007]

[2021-07-28 04:17] ityuhui commented on #69
Do you have a http/https proxy ? Need disable it.

And please append a detail log

https://github.com/kubernetes-client/c/blob/d83ca5a13a78aeee8a766b5cc935b720735c3552/examples/exec_pod/main.c#L25-L29

[2021-07-29 13:34] ityuhui commented on #60
I have written a sample to create/list config maps, it works well.
Please refer it:

[code]

[2021-07-30 03:14] ityuhui commented on #61
Hi @minerba

Do you have interest to fix this issue ?

The steps:
1.  Update the files in the directory: https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/C-libcurl
2.  Execute the script in https://github.com/kubernetes-client/gen with the configuration https://github.com/kubernetes-client/c/blob/master/settings to get a generated directory

[2021-07-30 03:31] ityuhui commented on #59
The last comment of @clearday4   https://github.com/kubernetes-client/c/issues/59#issuecomment-852080146 maybe a defect of parsing int64 or double array. it should be fixed in openapi-generator.
I will log a seperating issue to trace it.

[2021-07-31 03:57] ityuhui opened #70 "Error when parsing int64 or double array"
Reported by @clearday4

the type of supplemental_groups is as below:
[code]
it is an integer array.

We suggest changing it as follows.
In v1_pod_security_context.c
[code]
=>
[code]

[2021-07-31 03:59] ityuhui commented on #59
Has loged a new issue https://github.com/kubernetes-client/c/issues/70 to trace the defect of @clearday4 appended and delete the defect description here.

[2021-07-31 04:09] ityuhui commented on #61
@minerba

You need submit 2 PR.

- The 1st PR is in OpenAPI-Generator, take this PR https://github.com/OpenAPITools/openapi-generator/pull/10034 as example
- The 2nd PR will be here. FYI https://github.com/kubernetes-client/c/pull/68

[2021-08-07 15:09] #60 closed

[2021-08-10 13:17] ityuhui commented on #70
The fix in generator is https://github.com/OpenAPITools/openapi-generator/pull/10124

[2021-08-10 13:50] clearday4 opened #72 "websockets in multi-thread"
Could you put *g_lws_context and g_interrupted into the wsclient_t structure?
[code]

[2021-08-11 03:12] ityuhui commented on #72
I will try some times later.

Have you tried this ? Is multi-threading OK just adding the two data to wsclient_t ?

[2021-08-11 03:14] clearday4 commented on #72
yes, it works.

[2021-08-11 03:18] ityuhui commented on #72
Do you have a sample code ?

Or could you please submit a PR to deliver this change ?

[2021-08-11 03:32] clearday4 commented on #72
Use wsc->context instead of g_lws_context, and wsc->interrupted instead of g_interrupted.

wsc->context is created and destroyed in wsclient_run()
[code]

[2021-08-15 16:01] #59 closed

[2021-08-16 05:20] ityuhui commented on #70
Fixed by #73

[2021-08-16 05:20] #70 closed

[2021-08-20 09:54] ityuhui opened #77 "[WIP][Feature] Pod exec in cluster"
As a follow-up of https://github.com/kubernetes-client/c/pull/65#discussion_r671101053, I'm implementing "pod exec" in cluster.

@clearday4

[2021-09-08 21:13] #77 closed

[2021-09-13 06:50] ityuhui commented on #64
I will start to work for this task.
Firstly, tag current version using below command after https://github.com/kubernetes-client/c/pull/80 is merged:

[code]

[2021-09-14 13:03] ityuhui commented on #64
I have tagged the current code as "v0.1.0"
https://github.com/kubernetes-client/c/tags

And created a pre-release:
https://github.com/kubernetes-client/c/releases/tag/v0.1.0

Next, I will upgrade the swagger version to Kubernetes v1.22.1

[2021-09-14 13:20] ityuhui opened #81 "Create the .deb/.rpm package for the C client library"
Let's create the .deb package firstly.

[2021-09-14 13:25] ityuhui commented on #61
Hi @minerba

Are you still working on this ticket ?

[2021-09-14 18:45] brendandburns commented on #81
Sound good to me, what distros should we target? I suggest Ubuntu 18/20 and Debian 9/10

[2021-09-14 18:46] brendandburns commented on #81
We should also formalize the semantic versioning and things like release tags in the git repo.

Perhaps the right thing to do is to write a markdown doc describing the process first, and then implement it?

[2021-09-15 02:36] ityuhui commented on #81
I agree. Let's support below 4 distros (x86_64 only)
- Ubuntu 18.04 LTS
- Ubuntu 20.04 LTS
- Debian 9
- Debian 10

[2021-09-15 02:41] ityuhui commented on #81
Sure. Would you like draft the doc  ?
Or give me a reference doc that other project is using and let me draft.

[2021-09-16 15:50] brendandburns commented on #81
Here's an example from the Java project:

https://github.com/kubernetes-client/java/wiki/2.-Versioning-and-Compatibility

Thanks!

[2021-09-17 02:07] ityuhui commented on #81
Got it. I will do it.

[2021-09-19 14:28] ahmedyarub opened #83 "vcpkg integration"
I'm adding vcpkg integration for this library https://github.com/microsoft/vcpkg/pull/20255
I tested it on Windows and it worked without any problem.
@ityuhui I remember that in a previous comment you said that the installation script would not work without adding the DESTINATION parameter. I had to patch that in vcpkg for the port to work. Can you please make sure that the installation really doe

[2021-09-20 13:34] ityuhui commented on #83
I tested it in Ubuntu 18.04 LTS, yes, `DESTINATION` is needed by this platform.

[2021-09-21 00:32] ahmedyarub commented on #81
are you going to use CPack?

[2021-09-21 13:10] ityuhui commented on #81
I haven't started building the package.

Do you think CPack is better than official [debmake](https://www.debian.org/doc/manuals/debmake-doc/) for the C client library ?

[2021-09-21 13:12] ahmedyarub commented on #81
Because CPack can generate deb files in addition to many other formats https://cmake.org/cmake/help/latest/manual/cpack-generators.7.html

[2021-09-22 20:40] ahmedyarub commented on #83
Merged

[2021-09-22 20:40] #83 closed

[2021-09-23 06:13] ityuhui commented on #83
@ahmedyarub
Could you please update the readme https://github.com/kubernetes-client/c/blob/master/README.md to tell user how to use it in vcpkg ?

[2021-09-23 14:59] ahmedyarub commented on #83
https://github.com/kubernetes-client/c/pull/85

[2021-10-19 03:24] ityuhui commented on #81
@ahmedyarub  Great ! I will take a look at this solution.

[2021-10-20 19:52] soroshsabz opened #88 "Please add C++ client for kubernetes"
ITNOA

I think, it is very useful to add native modern C++ client to interact with Kubernetes.

[2021-10-21 10:26] soroshsabz commented on #88
thanks very much, so I close this issue

[2021-10-21 10:26] #88 closed, assigned to nobody

[2021-10-25 13:37] lordgamez opened #89 "list_pod_incluster example crashes when permission is denied"
Hi Team,

I was trying to run the list_pod_incluster in a kind kubernetes cluster from inside a pod, but it crashed with segmentation fault with the following backtrace:

[code]

When removing the `v1_list_meta_free` call from the `v1_pod_list_parseFromJSON` function I get the output:
[code]
I do not have permission currently for running cluster level commands with the default service account I wa

[2021-10-29 00:35] clearday4 opened #90 "some keywords conflict occurs with zebos"
If I link the libkubernetes and zebos together, some keywords conflict occurred.
list_create, list_free
could you change these keywords?

[code]

[2021-11-05 20:36] #89 closed

[2021-11-09 05:46] ityuhui commented on #72
/remove-lifecycle stale

[2021-11-18 08:48] ityuhui commented on #81
https://github.com/kubernetes-client/c/pull/94 will deliver the feature of deb package.

[2021-11-30 02:20] ityuhui commented on #63
I'm working on this ticket now. First of all, I will add the support for `IntOrString`

[2021-12-08 15:32] ityuhui commented on #63
I will deliver 3 pull requests to address the support for `IntOrString `
- https://github.com/OpenAPITools/openapi-generator/pull/11074
- TODO in kubernetes-client/gen
- TODO in kubernetes-client/c

[2021-12-13 06:35] minerba opened #96 "Memory Leak in CoreV1API"
Hi

I found some defect that Memory Leak in CoreV1API.c

In the "CoreV1API_deleteNamespacedPod" function, the localVarToReplace variable calls malloc, but if the __namespace variable is NULL, it moves to end and the function ends without calling free.
Other functions are also confirmed to have memory leak.

It needs to be fixed as soon as possible.

[2021-12-13 07:14] ityuhui commented on #96
Could you please provide a sample ?

The example [delete_pod](https://github.com/kubernetes-client/c/blob/master/examples/delete_pod/main.c) has passed valgrind test. No memory leak is reported.

[2021-12-13 09:14] minerba opened #97 "NULL check order"
I think Below code have some

[code]

I think strlen(name) has to do after name NULL Check

[code]

[2021-12-13 09:21] minerba commented on #96
Hi @ityuhui

In normal cases, memory leak does not occur, but if (__namespace == NULL)
Memory leak occurs.

**char* localVarToReplace_name = malloc(sizeOfPathParams_name);**
    sprintf(localVarToReplace_name, "{%s}", "name");

    localVarPath = strReplace(localVarPath, localVarToReplace_name, name);

    // Path Params
    long sizeOfPathParams_namespace = strlen(name)+3 + strlen(_namespace)+3 +

[2021-12-13 14:30] minerba commented on #96
@ityuhui  thanks for your reply. I hope it will be fixed soon

[2021-12-14 11:58] ityuhui commented on #97
The code is generated by [openapi-generator/c-libcurl](https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache), its purpose is to share the code
[code]
with all data types.

Considering there is no danger to do so, I will not change it right now.

Thank you for reporting this issue!

[2021-12-17 07:56] minerba opened #98 "Memory Leak"
Hi

I run valgrind with kubernetes c-client  in my machine.

well ...

I found Memory Leak in all Api(v1_object_create() );

for example

[code]

v1_node_local_var = v1_node_create() but most parameters allocate dynamic memory in function.

[code]

if(v1_node_local_var == NULL) , Failed to malloc in v1_node_create

NULL is returned without parameter Free.

Most api are operating in this way.

I th

[2021-12-17 13:11] ityuhui commented on #98
`malloc()` failure is a rare case, even if it happens, program should exit because the system can no longer provide enough memory. Memory leak is not the most important thing at this time.

It isn't a "fatal" problem.
And I suspect valgrind can not detect this issue.

[2021-12-17 13:23] ityuhui commented on #69
Close this issue because author has not responsed for a long time.

[2021-12-17 13:23] #69 closed

[2021-12-17 17:44] minerba commented on #98
Hi @ityuhui  I understand about your reply that It is not a "fatal" problem.

Well, this problem will be fixed?

[2021-12-18 04:20] ityuhui commented on #98
I won't fix this issue recently because it's a rare case.

If you have interest, could you please do some investigation and give a proposal ?

[2021-12-19 17:05] brendandburns commented on #98
@minerba if you look at some of the other fixes that @ityuhui has done in the `C` generator (e.g. https://github.com/OpenAPITools/openapi-generator/pull/10756) it should be fairly straightforward to fix this issue (basically add `free` calls before returning `NULL` if malloc returns a NULL pointer.

I agree that for correctness, it is right to delete those pointers, but I also agree with @ityuhui

[2021-12-20 09:58] ityuhui opened #100 "doc: draft documents to describe how to generate the C client and release"
1. The step to generate the C client from [kubernetes-client/gen](https://github.com/kubernetes-client/gen)
    - command
    - configuration
    - generate the C client with an existing Kubernetes API yaml file

2. The step to release
    - git tag

[2021-12-30 05:40] JayJay-K opened #101 "secure_getenv() returns NULL when I do setcap to executable file."
I made executable file in the linux by using kubernetes-client/c code.
There was a problem because secure_getenv( ) returned NULL when I did setcap to the executable file.
I have to use setcap to the executable file because it's a non-root process and it needs some linux capabilities.

How can I solve the problem, if I have to use setcap to the executable file?
I checked the manual for secure_gete

[2021-12-31 01:01] ityuhui commented on #101
I think `setcap` and `secure_getenv` cannot take effect at the same time.
If you need `setcap`, you can use `getenv` instead but there are vulnerabilities that could occur if set-user-ID or set-group-ID programs accidentally trusted the environment.

[2022-01-13 03:54] minerba commented on #61
@ityuhui
sorry Well... How can I apply this command? "/remove-lifecycle rotten"

[2022-01-13 03:58] ityuhui commented on #61
I have done it.

[2022-01-14 00:06] minerba commented on #61
@ityuhui Thank you:)

[2022-01-21 07:04] ityuhui commented on #63
The type `IntOrString` is supported now.

Alough there are some custom types need support,  no issue is reported so far.
Can we close this ticket now ? @brendandburns

[2022-01-30 08:35] ityuhui commented on #90
/remove-lifecycle stale

[2022-02-07 07:14] ityuhui commented on #72
/remove-lifecycle stale

[2022-02-10 09:11] minerba opened #105 "MemoryLeak Occur in v1_object_meta_parseFromJSON(cJSON *v1_object_metaJSON) Function"
Hi @ityuhui

I found some Memory Leak in v1_object_meta_parseFromJSON(cJSON *v1_object_metaJSON) function, By performing valgrind.

Below code Occur Memory Leak.
[code]

if `finalizersList` is NULL, goto end and return NULL. but Before `annotationsList` allocated list By calling `list_create()` and `list_addElement()` with `keyValuePair_t` .

I think It is need to fix. like below.

[code]

and all

[2022-02-22 13:26] ityuhui commented on #90
@minerba

Since your PR ( https://github.com/OpenAPITools/openapi-generator/pull/11190 and https://github.com/OpenAPITools/openapi-generator/pull/11677) have already been committed, can you regenerate the c client to merge the change? The guide can be found at  https://github.com/kubernetes-client/c/blob/master/docs/how-to-regenerate-the-c-client.md

[2022-02-23 03:30] minerba commented on #105
Hi, @ityuhui  Can you check this issue?

[2022-02-24 02:12] ityuhui commented on #105
OK. I will take a look.

[2022-02-25 05:11] ityuhui commented on #105
This is a defect of forgetting to free list or map when json parsing fails.

I'll fix it in openapi-generator and merge it back.

[2022-02-25 07:43] minerba commented on #105
Thank you 👍

[2022-02-25 07:48] minerba commented on #90
@ityuhui  Ok, I will check

[2022-02-26 03:59] ityuhui commented on #64
This problem is resoved.

[2022-02-26 03:59] #64 closed

[2022-02-28 05:20] ityuhui commented on #81
The deb package can now be created.
The rpm package will be supported if needed.

[2022-02-28 05:20] #81 closed

[2022-03-01 04:59] #100 closed

[2022-03-03 06:17] katepangLiu opened #107 "Running example/list_pod_incluster coredump"
## client-go
[code]

## client-c
backtrace:
[code]

coredump:
[code]

[2022-03-03 06:54] ityuhui commented on #107
Does this problem only happen when the service account is prohibited from listing pods?

If client-go can list pod with right service account, does this problem reproduce ?

[2022-03-03 07:02] katepangLiu commented on #107
Yes, It is working with `--clusterrole=view` serviceaccount.
[code]
[code]

[2022-03-03 08:57] ityuhui commented on #107
It's very strange. This example works well in my env:

[code]

Can you please give more detail ? e.g.  stdout of the running of program, souce code (if you changes)

[2022-03-04 02:16] katepangLiu commented on #107
Thanks @ityuhui,  I will double check firstlly, I use version(tag) 0.1.0, and import all dependent libs statically, maybe I dit something wrong.

[2022-03-05 02:56] minerba commented on #105
@ityuhui
some variable is Declared after "goto end". In this case some variable can't Null value check

[2022-03-05 11:55] ityuhui commented on #105
Thanks. I'll consider it.

[2022-03-07 03:04] #107 closed

[2022-03-09 03:08] ityuhui commented on #90
@minerba

I merge your code by the PR #109 because I want to fix a bug based on the latest code.
So you don't need re-generate the C client any more for this ticket.
Thanks !

[2022-03-09 06:41] #101 closed

[2022-03-09 19:02] #90 closed

[2022-03-11 12:07] minerba commented on #90
@ityuhui
Ok, Thank you!

[2022-03-14 13:12] ityuhui commented on #105
https://github.com/OpenAPITools/openapi-generator/pull/11866 will fix this issue.

[2022-03-16 07:01] minerba commented on #105
Thank you @ityuhui

[2022-03-16 07:13] minerba commented on #97
@ityuhui
Ok, Thank you.

[2022-03-17 17:39] kangarlou opened #111 "Project roadmap"
Hello @ityuhui @brendandburns. NetApp is interested in a Kubernetes client library for C. The documentation is clear that the project "is a work in progress and should be considered alpha quality software at this time". As you know, there is only one tagged version for k8s 1.17 and HEAD supports k8s 1.22 with some support for the releases in between: https://github.com/kubernetes-client/c/blob/mas

[2022-03-18 03:26] ityuhui commented on #111
1. Version/release tags are on demand now. If someone needs it, we can bump into the latest stable version and tag the old code. For myself, I will tag every major release since k8s v1.22. I have no plans to tag every minor k8s release now. Hi @brendandburns what's your opinion about this?

2. I think the quality of this project can be considered [beta](https://github.com/kubernetes/design-proposa

[2022-03-18 08:50] ityuhui opened #112 "Fail to parse a map whose elements are not <string, string> pairs from JSON"
Failed cases:

| Name      | Date type |  Data type of value
| ----------- | ----------- |------------|
v1_pod_disruption_budget_status->disrupted_pods | map | datetime
v1_certificate_signing_request_spec->extra | map | list\<string\>
v1_json_schema_props->definitions  | map | model
v1_json_schema_props->pattern_properties  | map | model
v1_subject_access_review_spec->extra | map | list\<string\>

[2022-03-18 20:20] brendandburns commented on #111
@kangarlou I think that anyone adopting this library should expect that they will need to help with some of the work on it.

It is done (as is most OSS) by volunteer effort (mostly @ityuhui if I'm being honest).

It should work, and is mostly stable, but problems have been found in the past (e.g. memory leaks) and I imagine they will be found in the future.

Tagged release for every minor Kubernet

[2022-03-28 15:49] brendandburns commented on #111
I'm going to close this issue since I believe that the question is resolved (@kangarlou I hope you join us :)

[2022-03-28 15:49] #111 closed

[2022-03-30 22:19] #105 closed

[2022-03-31 01:54] ityuhui commented on #105
Yes. @minerba

The data type should be handled seperately. Anyway, the issue you reported has been fixed.

There are some uncommon cases I have loged https://github.com/kubernetes-client/c/issues/112 to trace.

Thanks.

[2022-03-31 11:31] ityuhui opened #115 "Request to tag current code and release 0.2.0 for kuberntes v1.22"
Hi @brendandburns

I want to tag the current code
[code]

and release it for kuberntes v1.22

What do you think about it ?

[2022-04-03 18:39] brendandburns commented on #115
Sounds great, let's do it!

and eventually let's make this a github action that is manually triggered, similar to https://github.com/kubernetes-client/java/blob/master/.github/workflows/release.yml

[2022-04-06 03:26] ityuhui commented on #115
Release 0.2.0
https://github.com/kubernetes-client/c/releases/tag/v0.2.0

I will work for the github action later.

[2022-04-06 03:26] #115 closed

[2022-04-14 10:05] ityuhui commented on #61
I will fix it.  Reopen this ticket to trace.

[2022-04-15 01:39] minerba commented on #61
Thanks your Pr.

[2022-04-22 06:47] #98 closed

[2022-05-12 16:01] #96 closed

[2022-05-15 08:23] #97 closed

[2022-05-16 03:27] ityuhui opened #120 "Request to release 0.3.0 for kuberntes v1.23"
Hi @brendandburns

I plan to release 0.3.0 for kuberntes v1.23

The detail is:

1. Manually cut a branch `release-0.3` from `master`

2. On this branch `release-0.3`, tag and release `v0.3.0` via GitHub Action https://github.com/kubernetes-client/c/actions/workflows/release.yml

[2022-05-16 22:19] brendandburns commented on #120
Sounds good!

[2022-05-17 02:19] ityuhui commented on #120
v0.3.0 has released.

https://github.com/kubernetes-client/c/releases/tag/v0.3.0

[2022-05-17 02:19] #120 closed

[2022-05-25 13:46] petitlapin opened #122 "Incompatibility of function names between v1_service_port.h and v1_service_port.c?"
Hi,

It seems the conversion from/to string differ in functions names:
https://github.com/kubernetes-client/c/blob/7291d0a3c3e4802a19bce56e45d94b27150d8f5f/kubernetes/model/v1_service_port.h:
[code]
https://github.com/kubernetes-client/c/blob/7291d0a3c3e4802a19bce56e45d94b27150d8f5f/kubernetes/model/v1_service_port.c:
[code]

There is a `protocol` in the .c file that is not placed at the same plac

[2022-05-25 15:04] petitlapin opened #123 "Multiple incompatible types warning at compilation"
Hi,
not sure how important it is but in case, when compiling with icc 2021 or gcc 8.5:
[code]

[2022-05-26 01:27] ityuhui commented on #122
Thank you for reporting this issue !
This code is generated by the template file https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
But the template fails to generate the `string and enum` data type.

I'll take a look at this issue. But the priority is not high because the functions `protocolv1_service_port_ToStr

[2022-05-26 01:31] ityuhui commented on #123
Thank you for pointing this.
We're working on this issue now.

[2022-05-26 07:49] petitlapin commented on #122
Thank you!

The issue is when we want to call these functions from another executable (if the function is supposed to be public):
if we call: `v1_service_port_protocol_FromString` declared in the .h, the linker will complain because the implementation does not exist.
And if we call `protocolv1_service_port_FromString`, as there is no declaration of this function (except in the .c we don't include)

[2022-05-26 07:57] ityuhui commented on #122
Your workaround is OK.  These two functions can be called externally, although they are intended to be used internally.

[2022-06-14 03:07] #61 closed

[2022-06-16 20:21] #123 closed, assigned to nobody

[2022-06-20 09:12] #63 closed

[2022-07-07 08:15] #72 closed

[2022-07-25 08:23] minerba opened #132 "Memory Leak in V2beta2Autoscaling"
Hi @ityuhui

I found some Leak Case in AutoscalingV2beta2.

Last time I request this Issue. I know this is rare case that Namespace is Null.

But If Namespace is Null,  It Occur some problem in System.

`v2beta2_horizontal_pod_autoscaler_list_t*
AutoscalingV2beta2API_listNamespacedHorizontalPodAutoscaler(apiClient_t *apiClient, char * _namespace , char * pretty , int allowWatchBookmarks , char * _

[2022-07-25 13:00] ityuhui commented on #132
Do you mean the memory leak of `localVarPath` if `_namespace == NULL` ?

[2022-07-26 08:40] minerba commented on #132
@ityuhui yes

[2022-07-28 01:57] ityuhui commented on #132
The parameter `_namespace` is required for the "Namespaced" functions such as `AutoscalingV2beta2API_listNamespacedHorizontalPodAutoscaler`, so `if(_namespace==NULL)` needs to be checked.

This issue is a memory leak, what we need to do is to free the memory when `_namespace==NULL`.

[2022-07-29 08:43] ityuhui commented on #132
Checked the code and found `localVarPath` would be freed.

https://github.com/kubernetes-client/c/blob/8f8874e9f5f1023735cc630efb2d354556c0b179/kubernetes/api/AutoscalingV2beta1API.c#L1522-L1524

Is there a memroy leak now ?

[2022-07-29 09:04] ityuhui commented on #122
This issue is gone because the data type of `io.k8s.api.core.v1.ServicePort/protocol` is changed to `string` in the Kubernetes v1.24 API Spec

[2022-07-29 09:04] #122 closed

[2022-08-12 06:47] ityuhui commented on #67
/remove-lifecycle rotten

[2022-08-17 15:55] #67 closed

[2022-08-17 18:51] hariramshankar opened #134 "Memory Leak in kubeyaml_load_kubeconfig() in kubernetes/config/kube_config_yaml.c"
Hi,

I found a memory leak when calling kubeyaml_load_kubeconfig()

kubeyaml_load_kubeconfig creates a yaml parser object before attempting to read the kubeconfig file.

If opening the kubeconfig file failed for some reason, the function returns(-1) without freeing up the memory allocated to parser.

snippet of the code in question where the leak occurs
[code]

[2022-08-18 02:41] ityuhui commented on #134
Thank you for reporting this issue.

Will fix it later.

[2022-08-19 08:34] yess1987 opened #136 "Is there an api to get node status?"
We need to use the c library to get the node status, is there a solution?

[2022-08-19 08:40] ityuhui commented on #136
Is this OK ?

https://github.com/kubernetes-client/c/blob/master/kubernetes/docs/CoreV1API.md#CoreV1API_readNodeStatus

[2022-08-19 08:43] yess1987 commented on #136
let me try and wait for my good news

[2022-08-19 09:26] ityuhui commented on #136
Can you describe in detail about "the role of etcd" ?

e.g.
Is the etcd a built-in component of Kubernetes (for API Server to save cluster information) or something you deploy it for your workload ?

And is this what you want ?
```kubectl exec etcd-kind-control-plane -n kube-system -- etcdctl role list```

[2022-08-19 11:32] yess1987 commented on #136
I need to know which node is the leader in k8s, so consider using the leader in etcd

[2022-08-20 05:48] #112 closed

[2022-08-23 01:44] ityuhui commented on #136
Can you find a solution for your requirement via `kubectl`?

The C client library only communicates with the Kubernetes API server, which behaves like client-go/kubectl.

[2022-08-23 21:31] brendandburns commented on #136
You shouldn't need to look at etcd, you can look at the labels on the node to determine where the api server is, specifically the `node-role.kubernetes.io/control-plane` should be present on any nodes that contain the Kubernetes control plane.

[2022-08-25 04:13] caesar0301 opened #138 "Unexpected processing behavior of null value in yaml/json"
## Env
Kernel 4.19
GCC 4.9.2
Cmake 3.23.2
kubernetes-client-c 0.4.0

## Problem
Original yaml which could be well processed by kubectl:
[code]

Converted in legal JSON semantics:
[code]

Code snippet in C++
[code]

Output
[code]

## Expected

In above example, metadata is NOT null by ignoring null subfields (say annotationa), or converting the null subfields into empty data object, such as empty c

[2022-08-25 06:45] ityuhui commented on #138
Thank you for reporting this.  We will fix it soon.

If you want a quick fix with your own build, change
https://github.com/kubernetes-client/c/blob/9a78e0fe02dac4aa65b86d98a7fa894be2fee872/kubernetes/model/v1_object_meta.c#L354

to

[code]

[2022-08-25 07:06] caesar0301 commented on #138
I found this bug has been fixed by latest cJSON lib `get_object_item`.
![image](https://user-images.githubusercontent.com/499254/186597904-493f7c29-4ebd-433e-b683-6925ffad755e.png)

So the easiest is to upgrade cJSON. :)

[2022-08-25 07:26] caesar0301 commented on #138
This method seems not REALLY quick, because potential any fields not violating k8s specification would be null. I need to modify all fields parsing logic.

A straight-forward and fast fix could be modifying cJSON as following. Yet I am not sure if this modification is in compliance with cJSON's design principle.
[code]

[2022-08-25 07:46] ityuhui commented on #138
Thank you!  The best solution is upgrading `cJSON` to the latest release as your suggestion.

The change
[code]

is not a good idea because it will break compatibility with upstream cJSON. We don't plan to maintain a folk of our own.

I plan to fix this issue via upgrading cJSON finally.

[2022-08-25 07:49] caesar0301 commented on #138
@ityuhui as I tested, mere upgrading cJSON does NOT fix this problem.

Latest cJSON just enhanced `current_element` validity check, not fixed our problem.

[2022-08-25 07:54] ityuhui commented on #138
OK. I got it.

Then we can fix it via the first solution https://github.com/kubernetes-client/c/issues/138#issuecomment-1226844487

The fix will commit into the template file https://github.com/ityuhui/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache, so it will update all where needed automatically.

[2022-08-25 08:44] caesar0301 opened #139 "[CPP] Keyword namespace conflicted in cpp"
Thank you for this awesome c sdk. However we encountered keyword conflict in cpp. Specifically from here:

https://github.com/kubernetes-client/c/blob/9a78e0fe02dac4aa65b86d98a7fa894be2fee872/kubernetes/config/kube_config_model.h#L48

I noticed an old issue in https://github.com/kubernetes-client/c/issues/43. This new one suggests we may require some CI validation for CPP senario.

A small fix wil

[2022-08-26 08:06] #139 closed

[2022-09-09 20:35] #138 closed

[2022-09-13 01:08] wcamellia opened #142 "How to get the content of condition in v1_node_status_t structure, condition is a list_t *"
How to get the content of condition in v1_node_status_t structure, condition is a list_t *

[2022-09-13 02:24] ityuhui commented on #142
The structure of `v1_node_status_t` is:
https://github.com/kubernetes-client/c/blob/master/kubernetes/docs/v1_node_status.md

And the element of list_t of condition is:
https://github.com/kubernetes-client/c/blob/master/kubernetes/docs/v1_node_condition.md

An example of iterating over a list is:

https://github.com/kubernetes-client/c/blob/8afde9c48b76fdf91f2507b43821ca58ea8e95bb/examples/list_po

[2022-09-13 06:56] wcamellia commented on #142
！Thank you very much for your reply，I tried to get the content of the “condition“” according to the example of “c/examples/list_pod/main.c)” but got null，Do you have any good solution？Thank you very much again！

[2022-09-13 07:16] ityuhui commented on #142
It's better to use `gdb` to debug line by line.
And can you append your code snippet of iterating over the list `condition` here ?

[2022-09-13 07:32] wcamellia commented on #142
Thanks  ，my test  code is as follows，i tried many times without success，Please boss  help me to check and forgive my lack of ability, thank you very much !
----------------------------------------------------
[test_code.txt](https://github.com/kubernetes-client/c/files/9554543/test_code.txt)
    v1_node_t* node_info = NULL;
    node_info = CoreV1API_readNode(apiClient,"cluster-node1",NULL);
    pr

[2022-09-13 08:25] ityuhui commented on #142
Refer the following code please

[code]

[2022-09-13 09:49] wcamellia commented on #142
Thank you very much for your answer  and  excellence ！！！  I will try it for my test.

[2022-09-13 09:58] #142 closed

[2022-09-14 08:32] wcamellia opened #143 "How to get node status (include "Ready" or "Notready") like using "kubectl get nodes” wiht “C api” ？"

[2022-09-14 10:12] wcamellia commented on #143
-----------------------------------------------------------------------------------------------
Thank you very much for your answer and patience!

[2022-09-14 12:23] wcamellia commented on #143
sorry , I do not find the "Ready" or "Notready" in  "https://github.com/kubernetes-client/c/blob/master/kubernetes/docs/CoreV1API.md#CoreV1API_listNode“ ， I only find the ”condition“ in ”v1_node_t“ structure ，I only want the ”Ready“  or ”Notready“ like using command ”kubectl get nodes “

[2022-09-14 12:39] ityuhui commented on #143
I think "Ready" comes from the `type` of `condition`:
[code]

[2022-09-14 13:13] wcamellia commented on #143
--------------------------------------------------------
Thank you very much !

[2022-09-15 15:02] joyantamishu opened #144 "CoreV1API_listNamespacedEvent doesn't work as expected"
Hello, I was trying to use the CoreV1API_listNamespacedEvent in order to list all the events in the Kubenetes cluster. Now I am not sure if this happens to anyone, but in my case I can retrieve all the event, but the data attributes shows NULL, which is not expected. I am putting my code here and the output I got.

Source Code:
[code]
The above code compiles correctly. When I run the program in a

[2022-09-16 06:46] ityuhui commented on #144
Thank you for reporting this issue !
This is a bug and we will fix it.
If you want a quick fix with your own build:

[code]

[2022-09-16 06:50] ityuhui commented on #144
And here is my test code:
[code]

[2022-09-16 13:51] joyantamishu commented on #144
Thanks you so much @ityuhui

[2022-09-16 14:29] ityuhui commented on #144
The root cause of this issue is:

`event_time` (which is a field of `core_v1_event_t`) is a "date-time" (an OpenAPI [data type]( https://swagger.io/docs/specification/data-models/data-types/)), which cannot be parsed correctly by the function `core_v1_event_parseFromJSON` now. We will fix the parsing.

I think the type "date-time" is not used by pod API.

[2022-09-16 15:38] joyantamishu commented on #144
I see, thanks @ityuhui

[2022-09-18 01:52] smuraligit opened #145 "Regarding Event Internals (Event broadcaster, Event recorder) for C client"
Hope you are well.

Thank you for this initiative of having C Kubernetes client.

I have seen client-go has event interfaces like Broadcaster, Recorder and other API to create events. However, I am not seeing the similar interfaces in C Kubernetes client. Is this something that needs to be ported/created for C? Or am I not seeing the correct files for the same?

Could you please guide me as I am s

[2022-09-18 08:32] ityuhui commented on #145
There are not any high level utilities e.g. `Broadcaster`, `Recorder` like [client-go/tools/events](https://github.com/kubernetes/client-go/tree/master/tools/events) for events in the C client now.

You need to manage the events youself, e.g. call API [CoreV1API_createNamespacedEvent](https://github.com/kubernetes-client/c/blob/master/kubernetes/docs/CoreV1API.md#CoreV1API_createNamespacedEvent)

[2022-09-18 16:06] smuraligit commented on #145
Thank you very much for your reply.

When you say there are not any high level utilities in C client now, does that mean in future, there might be? Or if there is volunteering contribution for high level API, would that be accepted?

Reason we are after that high level utilities is because they provided advantages like deduplication at event source. If we just manage with [CoreV1API_createNamespac

[2022-09-19 05:34] ityuhui commented on #145
Yes. Contribution is very welcome !

[2022-09-20 05:51] ityuhui opened #146 "Request to generate the C client library based on v1.25.2"
Hi @brendandburns

Kubernetes v1.25.1 has been released.
Can I now regenerate the C client library based on the new version ? (via GitHub/Action https://github.com/kubernetes-client/c/actions/workflows/generate.yml)

[2022-09-20 07:30] dxlr8r opened #147 "Feature request, add lua support"
As described in: http://www.lua.org/pil/26.html

It would require some work to add the boilerplate for all relevant functions, but once that is done it seems like the result would be that we can add lua to the list of client libraries.

[2022-09-20 15:59] brendandburns commented on #146
Definitely. (and don't feel like you have to ask, since it sends a PR)

[2022-09-20 16:00] brendandburns commented on #145
+1, we'd be happy to have the contributions. There are various degrees of high-level utilities in the other clients (e.g. https://github.com/kubernetes-client/java/tree/master/extended/src/main/java/io/kubernetes/client/extended)

[2022-09-20 16:06] brendandburns commented on #147
Most of the code in this library is generated. I don't think it makes sense to add generic lua support to that C language generator.

I think there are two options:
* Scan the generated `.h` files and generate the correct Lua bindings from that (seems like it should be feasible)
* Use the independent Lua code generator (https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/

[2022-09-21 02:15] ityuhui commented on #146
Due to a security issue introduced by Kubernetes v1.25.1, https://groups.google.com/a/kubernetes.io/g/dev/c/tA6LNOQTR4Q/m/zL73maPTAQAJ?utm_medium=email&utm_source=footer, I'm waiting for v1.25.2 to perform this task.

[2022-09-21 02:31] ityuhui opened #148 "v0.5.0 release plan"
Release plan for v0.5.0:

1. Regenerate the C client based on Kubernetes 1.25
https://github.com/kubernetes-client/c/issues/146

2. PR to update [Versioning and Compatibility](https://github.com/kubernetes-client/c/blob/master/docs/versioning-and-compatibility.md)
https://github.com/kubernetes-client/c/pull/152

3. Release the C client `v0.5.0` guided by [RELEASE.md](https://github.com/kubernetes-

[2022-09-21 18:18] smuraligit commented on #145
Thank you for your response. This is helpful. For now, I will close this issue. If we decide to come up with high level utilities for event, I will open up a new issue and submit PR.

Thank you very much!
-Srini

[2022-09-21 18:18] #145 closed

[2022-09-21 18:49] hariramshankar opened #150 "How to update namespaced Custom Resource status with Kubernetes client in C?"
Hi there, what would be the recommended way of modifying (replace/ merge) the status subresource of a namespaced Custom Resource?

Reading the code the APIs of interest are
CustomObjectsAPI_replaceNamespacedCustomObject()
CustomObjectsAPI_patchNamespacedCustomObjectStatus()
But looking at the implementation kubernetes/api/CustomObjectsAPI.c, I see both call object_convertToJSON
[code]
But object_c

[2022-09-21 19:08] brendandburns commented on #147
fwiw, I also did a quick search and found this: https://luarocks.org/modules/f4z3r/luakube

I have no idea if it is any good...

Closing this issue since I don't think there's anything else to do here.

[2022-09-21 19:08] #147 closed

[2022-09-21 19:09] brendandburns commented on #148
sgtm!

[2022-09-22 02:35] ityuhui commented on #150
The latest `object.{h,c}` in `master` branch have changed. Please check out and check if they can meet your requirement.
You can populate the "patch json string" to `object->temporary`
https://github.com/kubernetes-client/c/blob/eb35d276690107cfc57395e3b7388e549b81a17d/kubernetes/model/object.c#L25-L35

[2022-09-22 02:39] ityuhui commented on #150
Yes. the generic client cannot handle the request of subresources(status, scale) now, we will add the feature later and the contributions are welcome !

[2022-09-22 19:28] hariramshankar commented on #150
Thank you, the latest  `object.{h,c}` in master and populating the JSON string to `object->temporary` works now when calling `CustomObjectsAPI_replaceNamespacedCustomObject()` and `CustomObjectsAPI_patchNamespacedCustomObjectStatus()`

[2022-09-22 19:28] #150 closed

[2022-09-26 01:38] ityuhui commented on #146
https://github.com/kubernetes-client/c/pull/151

[2022-09-26 21:40] #146 closed

[2022-09-28 04:17] ityuhui commented on #148
v0.5.0 released https://github.com/kubernetes-client/c/releases/tag/v0.5.0

[2022-09-28 04:17] #148 closed

[2022-10-05 16:27] joyantamishu commented on #144
Hi @ityuhui how about we make changes in **core_v1_event_create** method too? Datetime object being generated inside **core_v1_event_create** method, instead of passing that as a parameter? The reason I am asking, as far as I know, kubernetes server/rest expects a specific datetime format.

[2022-10-11 14:02] joyantamishu opened #153 "Unit test tool for c client"
Hi,
Do you have any plan to come up with the k8s unit test facility in Kubernetes C client, or it's already been implemented? I see Golang client repo contains module like **fake** client, in order to unit test the k8s API, wondering if there is anything like that in C.

Thanks in advance.

[2022-10-11 21:49] brendandburns commented on #153
There's nothing like this currently planned, we would take PRs to achieve this, it would probably involve mocking out libcurl.

[2022-10-12 15:04] #153 closed

[2022-10-19 12:53] #143 closed

[2022-10-20 00:27] wcamellia opened #154 "How to set up a non-root user, to use the C API or k8s"
How to set up a non-root user,  to use the C API or k8s？
my "C api" and "k8s" can not work under the non-root user

[2022-10-20 01:41] ityuhui commented on #154
What's the error message your program outputs ?

Is your program running out of kube cluster or in cluster ?

And do you configure the right kubernetes config ?
- `~/.kube/config`in your home directory
- the environment variable `KUBECONFIG`
- function parameter `configFileName` of `load_kube_config`

[2022-10-20 02:49] wcamellia commented on #154
my k8s cluster deploy in "root" user, but i change into "admin" user ,
when i  uese  the c api  in the non-root user，The error message my program outputs：
"kubeyaml_load_kubeconfig(): Cannot open the file /root/.kube/config.[Permission denied]
load_kube_config(): Cannot load the kubeconfig /root/.kube/config
Cannot load kubernetes configuration."

[2022-10-20 05:41] wcamellia commented on #154
ok !thank you very much

[2022-10-20 18:18] brendandburns commented on #154
Closing since the question is answered.

[2022-10-20 18:18] #154 closed

[2022-10-21 23:18] smuraligit opened #155 "EventsV1API_patchNamespacedEvent returns error - cannot unmarshal object into Go value of type jsonpatch.Patch"
Hello,

Hope you are well.

I am trying to patch the event with event_series structure. This is the code I am having,

[code]

But the after apiClient_invoke, I am seeing this error in  cJSON_Parse(),

'cannot unmarshal object into Go value of type jsonpatch.Patch'

Looks like, the patch body that I am passing to EventsV1API_patchNamespacedEvent() is not in the proper format as jsonpatch.Patch. On

[2022-10-24 08:58] ityuhui commented on #155
Can you do it manully first with `kubectl patch` ?  During this process you will create a patch yaml/xml file. And finally, convert your patch file to json string using cJSON library.

[2022-10-24 19:53] joyantamishu opened #156 "BUILD.Bazel rule support in c k8s client"
Hello All,
For my Bazel project, I need to add c kubernetes-client source as my Bazel repo. But looks like the bazel build is not working, as there is no **BUILD.Bazel** in the **c/kubernetes/** folder. So, just wondering if Bazel support has not implemented yet or I am doing something wrong.

Thanks in Advance.

[2022-10-24 21:28] brendandburns commented on #156
This library currently uses cmake for building.

[2022-10-24 21:29] brendandburns commented on #156
This may help, I found it using web search so I know nothing about if it works for this :)

https://bazelbuild.github.io/rules_foreign_cc/main/cmake.html

[2022-10-25 13:37] joyantamishu commented on #156
Hi @brendandburns , thanks a lot for your response. I actually tried the link you shared and then find out C k8s repo, doesn't contain BUILD.Bazel file, which is essential for adding this repo as Bazel repo.

Can we add this issue as PR, I can work on that.

[2022-10-25 15:21] joyantamishu commented on #156
The exact error I am getting when I run bazel build

kube-client-c is my repo name, ignore it.

[2022-10-27 11:36] #132 closed

[2022-10-27 21:58] brendandburns commented on #156
I think adding a PR for this is fine. Feel free to send one.

Thanks

[2022-11-09 16:35] joyantamishu commented on #156
Hi, I figured out a way to integrate this project in bazel.

In WORKSPACE file:
[code]
In the BUILD file, where you need to include this library:
[code]

sample.c contents:

[code]
So, closing this issue. Thanks

[2022-11-09 16:35] #156 closed

[2022-11-09 23:28] #144 closed

[2022-11-10 17:26] privmc opened #158 "Cannot delete pod forcibly with CoreV1API_deleteNamespacedPod API"
To delete a pod forcibly you need to set gracePeriodSeconds to zero. zero means delete immediately.

Example:

DELETE /api/v1/namespaces/{namespace}/pods/{name}?gracePeriodSeconds=0

However, if calling CoreV1API_deleteNamespacedPod with the gracePeriodSeconds parameter set to 0 the gracePeriodSeconds query parameter is not created in the HTTP request.

[2022-11-11 02:26] ityuhui commented on #158
Yes. it's a problem.  Now, can you set a small value such as `gracePeriodSeconds=1` to walkaround this ?

Later, I want to fix this issue by introducing a magic number for the undefined parameter in openapi-generator.

e.g.
[code]

cc @brendandburns @wing328 @zhemant @michelealbano

[2022-11-11 02:37] ityuhui commented on #156
@joyantamishu
Great ! So would you like to create a PR to commit your guide to the [docs](https://github.com/kubernetes-client/c/tree/master/docs) directory? I think it's very helpful for developers using bazel.

[2022-11-11 07:57] privmc commented on #158
Ok, thanks for the confirmation.

gracePeriodSeconds=1 does not work in my test.

If I do "kubectl delete pod <podname>" when the pod is in Running phase the kubectl commands hangs until the pod is forcibly deleted by sending a Pod delete with gracePeriodSeconds=0.

[2022-11-14 02:01] ityuhui commented on #158
Got it.

If you need a fix now,  apply the patch below and build yourself please.

[code]

[2022-11-14 14:57] joyantamishu commented on #156
Sure, sounds like a great idea. I will create the PR, and send it for your reviews.

[2022-11-16 02:53] ityuhui commented on #134
/remove-lifecycle stale

[2022-11-22 09:18] minerba opened #159 "How can I use Node Proxy Api?"
Hi, I m using kubernetes/c-client.

I need to result of below command.

"curl -g --cacert ${CACERT} --header "Authorization: Bearer ${TOKEN}" -X GET https://[${KUBERNETES_SERVICE_HOST}]:${KUBERNETES_SERVICE_PORT}/api/v1/nodes/${NODE_NAME}/proxy/summary"

But I can't find api in the CoreV1API, Related Node Api.

How can I use this api?

[2022-11-27 21:14] brendandburns commented on #159
I believe that this function will get you what you need:

https://github.com/kubernetes-client/c/blob/master/kubernetes/api/CoreV1API.h#L131

[2022-11-28 02:13] minerba commented on #159
Hi @brendandburns  what API in that file ?? I can't find of "{node_name}/proxy/summary" url

[2022-11-28 02:36] minerba commented on #159
Hi @brendandburns
I found a API , But there is no Parser , related to uppon api . I need to develop the parser?

[2022-11-28 20:40] brendandburns commented on #159
As far as I know there is no structure for the proxy API. What are you trying to do? It might help to have more context.